<div class='header'>
  <div class='header-left'>
    <img alt="Logo" class="logo" src="https://ride.auxiliumgroup.com/forms/uploads/USER_TABLES/form_files/ride911canada.png" />
    <div>
      <h1 class='mat-h1'>
        Canada's 911 Ride Foundation<br />
        <span class='small'>June 8th - 9th 2019 Cape Breton, NS</span>
      </h1>
    </div>
  </div>
  <div class='header-right'>
    <div>
      <h1 class='mat-h3 mat-title'>
        <span class='red'>Canada's 911 Ride Foundation - Atlantic</span><br />
        405 Frenette Avenue<br />
        Moncton, NB<br />
        E1H 3S5<br />
      </h1>
    </div>
  </div>
</div>
<mat-divider></mat-divider>
